.LoginPage__Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-right: 10px;
    padding-bottom: 200px;
    padding-left: 10px;
}

.LoginPage__Main h1 {
    font-size: 36px;
    padding: 20px;
}

.LoginPage__Main label {
    font-size: 18px;
    font-weight: 200;
}

.LoginPage__Main input {
    font-size: 18px;
}

.LoginPage__Main button {
    font-size: 18px;
    font-weight: 200;
}